<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ren.ascence.mapper.OpenMappVersionMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="ren.ascence.entity.OpenMappVersion">
		<id column="id" property="id" />
		<result column="parent_id" property="parentId" />
		<result column="app_id" property="appId" />
		<result column="template_id" property="templateId" />
		<result column="verify_status" property="verifyStatus" />
		<result column="auditid" property="auditid" />
		<result column="issue_status" property="issueStatus" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="user_version" property="userVersion" />
		<result column="reason" property="reason" />
		<result column="type" property="type" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, parent_id AS parentId, app_id AS appId, template_id AS templateId, verify_status AS verifyStatus, auditid, issue_status AS issueStatus, create_time AS createTime, update_time AS updateTime, user_version AS userVersion, reason, type
    </sql>

</mapper>
