<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ren.ascence.mapper.OpenAuthorizationInfoMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="ren.ascence.entity.OpenAuthorizationInfo">
		<id column="id" property="id" />
		<result column="app_id" property="appId" />
		<result column="access_token" property="accessToken" />
		<result column="refresh_token" property="refreshToken" />
		<result column="expires_in" property="expiresIn" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="func_info_json" property="funcInfoJson" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, app_id AS appId, access_token AS accessToken, refresh_token AS refreshToken, expires_in AS expiresIn, create_time AS createTime, update_time AS updateTime, func_info_json AS funcInfoJson
    </sql>

</mapper>
