<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ren.ascence.mapper.OpenAuthorizerMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="ren.ascence.entity.OpenAuthorizer">
		<id column="id" property="id" />
		<result column="app_id" property="appId" />
		<result column="nickname" property="nickname" />
		<result column="head_img" property="headImg" />
		<result column="service_type_info" property="serviceTypeInfo" />
		<result column="verify_type_info" property="verifyTypeInfo" />
		<result column="username" property="username" />
		<result column="principal_name" property="principalName" />
		<result column="alias" property="alias" />
		<result column="qrcode_url" property="qrcodeUrl" />
		<result column="business_info_json" property="businessInfoJson" />
		<result column="experience_qrcode_url" property="experienceQrcodeUrl" />
		<result column="create_time" property="createTime" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, app_id AS appId, nickname, head_img AS headImg, service_type_info AS serviceTypeInfo, verify_type_info AS verifyTypeInfo, username, principal_name AS principalName, alias, qrcode_url AS qrcodeUrl, business_info_json AS businessInfoJson, experience_qrcode_url AS experienceQrcodeUrl, create_time AS createTime
    </sql>

</mapper>
